@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
.dashboard-title{
    margin-left: 100px;
    margin-bottom: 10px;
}

.dashboard-body{
    margin-left: 70px;
    width: 90%;
    height: 1000px;
    background-color: #D9D9D9;
    border-radius: 2.5%;
    font-family: 'Outfit', sans-serif;
}